body{
    background-color: black;
    padding-top: 70px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
}
hr{
  color: rgb(12,115, 0);
}
p{
  color: rgb(12, 115, 0);
  font-family: sans-serif;
}
h1{
  color: rgb(12, 115, 0);
  font-family: sans-serif;
  font-size: 35;
}
h2{
  color: rgb(12, 115, 0);
  font-family: sans-serif;
  font-size: 25;
}
lottie-player{
  float: right;
}
.welcome{
  display: flex;
  .welcome p{
    font-size: 20;
    align-self: self-start;
    font-weight: bold;
    display: flex;
  }
}
.navbar{
    background-color:rgb(12, 43, 12);
    width: 100%;
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    justify-content: space-evenly;
  }
  
  .menu li:hover {
    background-color:rgb(12, 115, 0);
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
    text-align: center;
  }
  .menu li {
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
  }