body{
    background-color: black;
    padding-top: 70px;
    padding-left: 6%;
    padding-right: 6%;
    padding-bottom: 6%;
}
p{
  color: rgb(12, 115, 0);
  font-family: sans-serif;
  font-size: 20px;
  text-align: justify;
}
a{
  font-family: sans-serif;
  font-size: 20px;
  text-align: justify;
}
nav > a{
  color: rgb(12, 115, 0);
  font-family: sans-serif;
  font-size: 20px;
  text-align: justify;
  text-decoration: none;
}
nav > a:hover{
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  text-decoration: underline;
}
h1{
  color: rgb(12, 115, 0);
  font-family: sans-serif;
  font-size: 35px;
}
#centerHeader{
  color: rgb(12, 115, 0);
  font-family: sans-serif;
  font-size: 35px;
  text-align: center;
  border-bottom: 2px solid rgb(12, 43, 12);
}
#centerH2{
  color: rgb(12, 115, 0);
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}
h2{
  color: rgb(12, 115, 0);
  font-family: sans-serif;
  font-size: 25px;
}
.member{
 text-align: center;
}
.member > p{
  text-align: center;
}
.member > img{
  width: 50%;
}
#members{
  display: grid;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
}
lottie-player{
  justify-self: center;
  width: 40%;
}
.line{
  border: 1px solid rgb(12, 115, 0);
  width: 100%;
}
#details{
  display: grid;
}
@media screen and (min-width:600px){
  #details{
    grid-template-columns: 3fr 1fr;
  }
  lottie-player{
    width: 200px;
  }
  #members{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: center;
  }
}
.navbar{
    background-color:rgb(12, 43, 12);
    width: 100%;
    height: 55px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
}

